/docker
/env/app.prod.env
/env/db.dev.env
/nginx/default.prod.conf
/php/Dockerfile.prod
/docker-compose.prod.yml

*.log
.DS_Store
/.fleet
/.idea
/.nova

/laravel_test/.env
/laravel_test/.env.backup
/laravel_test/.env.production
/laravel_test/.phpactor.json
/laravel_test/.phpunit.result.cache
/laravel_test/.phpunit.cache
/laravel_test/.vscode
/laravel_test/.zed
/laravel_test/auth.json
/laravel_test/node_modules
/laravel_test/public/build
/laravel_test/public/hot
/laravel_test/public/storage
/laravel_test/storage/*.key
/laravel_test/storage/pail
/laravel_test/vendor
Homestead.json
Homestead.yaml
/laravel_test/Homestead.json
/laravel_test/Homestead.yaml
Thumbs.db