services:
  app:
    build:
      context: .
      dockerfile: ./php/Dockerfile.dev
    volumes:
      - ./laravel_test:/var/www
      - ./docker/sock:/sock
    env_file:
      - ./env/app.dev.env
    depends_on:
      - db
      - redis
    networks:
      - app-network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "8055:80"
    volumes:
      - ./laravel_test:/var/www
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf
      - ./docker/sock:/sock
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: mariadb:10.11
    env_file:
      - ./env/db.dev.env
    ports:
      - "3306:3306"
    networks:
      - app-network
    volumes:
      - dbdata:/var/lib/mysql

  redis:
    image: redis:7
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    env_file:
      - ./env/db.dev.env
    depends_on:
      - db
    networks:
      - app-network
    ports:
      - "8080:80"

networks:
  app-network:
    driver: bridge

volumes:
  dbdata: {}
  redisdata: {}
  php-socket: {}